.login-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 25px;
  box-sizing: border-box;

  background:
    radial-gradient(
      circle at 10% 10%,
      rgba(59, 130, 246, 0.18),
      transparent 35%
    ),
    radial-gradient(
      circle at 90% 90%,
      rgba(250, 204, 21, 0.17),
      transparent 35%
    ),
    linear-gradient(135deg, #f8fafc, #eef4ff);
}